<h1>Schedule a Fitting</h1>
<head>
    <style>
        body {
            text-align: center;
            background: white;
            color: white;
            font-family: Helvetica;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
             }
        p  {
            text-align: center;
            font-size: 44;
            color: black;
        }
        input {
            border: 0;
            padding: 12px;
            font-size: 18px;
        }
        input[type="submit"]{
            background: purple;
            color: black;
        }
    </style>
</head>
<body>
    <iframe src="//instagram.com/p/iHqd8fAW5o/embed/" width="612" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    <p>megrhinehart@gmail.com 
    <br>
    <a href="http://techtalentsouth.com">Tech Talent South</a>
</p>

</body>

